<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="hu">
{% set url = "/" %}
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <link rel="icon" href="{{ url }}assets/img/favicon.ico" type="image/gif" sizes="48x48">

    <!-- Facebook Open Graph, Google+ and Twitter Card Tags 1.5.1
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:site_name" content="" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="" />
    <meta itemprop="name" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="" />
    <meta property="og:description" content="" />
    <meta itemprop="description" content="" />
    <meta property="og:image" content="" />
    <meta itemprop="image" content="" />

    <!-- Author
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="" rel="author" />
    <link href="" rel="publisher" />

    <!-- SEO
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="robots" content="noodp,noydir" />

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,300,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&amp;subset=latin-ext" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <link rel="stylesheet" href="{{ url }}assets/css/uikit.css">
    <style>

        #overlay {
            height: 100vh;
            width: 100vw;
            background: rgba(255, 255, 255, 1);
            position: fixed;
            left: 0;
            top: 0;
            z-index: 3000;
        }

        .spinner{
            width: 80px;
            height: 80px;

            border: 2px solid #f3f3f3;
            border-top:3px solid #03895d;
            border-radius: 100%;

            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right: 0;
            margin: auto;

            animation: spin 1s infinite linear;
        }

        @keyframes spin {
            from{
                transform: rotate(0deg);
            }to{
                 transform: rotate(360deg);
             }
        }

    </style>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->


</head>
<body>
<div id="overlay">
    <div class="spinner"></div>
</div>

{% block content %}{% endblock %}

<footer>
    <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
        <span class="uk-text-small uk-text-muted">© 2020  - <a href="">Created </a> <a href="" title="" target="_blank" data-uk-tooltip="fragum.tech" aria-expanded="false"><span data-uk-icon="uikit" class="uk-icon"><img src="{{ url }}assets/img/" style="height: 20px;"></span></a></span>
    </div>
</footer>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="{{ url }}assets/js/uikit-icons.min.js"></script>
<script src="{{ url }}assets/js/uikit.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var overlay = $('#overlay');
        window.addEventListener('load', function() {
            overlay.hide();
        });
    });
</script>
{% block js %}{% endblock %}
</body>
</html>